# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries by Data Scientists
- List commonly used Data Science Tools

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Pandas
3. Numpy

|Data Science Tools|
|------------------|
|VS Code|
|GitLab|
|Jupyter|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [2]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Chanyoung Jang